In [4]:
# Single Line Comment 
# Data Types in Python Programming
''' 
1. Int 
2. Float
3. Complex
4. String
5. Boolean
6. list
7. tuple
8. set
9. dict
10. class : Custom Datatype
'''

number = 100
number1 = 23.456
number2 = 2 + 3j


print(type(number))  # This will gives the Datatype of number
print(type(number1))
print(type(number2))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# Variable Definition

x = 10  # Single Variable Assignment 
x,y = 1000,2000   
x,y,z,_ = 1,2,3,4  # Multiple Variable Assignment
_,a,b,c = 10,20,30,40

In [12]:
num = '100'

num1 = 2

num2 = num * num1
print(num2)

100100