In [4]:
# Single Line Comment 
# Data Types in Python Programming
''' 
1. Int 
2. Float
3. Complex
4. String
5. Boolean
6. list
7. tuple
8. set
9. dict
10. class : Custom Datatype
'''

number = 100
number1 = 23.456
number2 = 2 + 3j


print(type(number))  # This will gives the Datatype of number
print(type(number1))
print(type(number2))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# Variable Definition

x = 10  # Single Variable Assignment 
x,y = 1000,2000   
x,y,z,_ = 1,2,3,4  # Multiple Variable Assignment
_,a,b,c = 10,20,30,40

In [ ]:
num = '100'  # String

num1 = 2

num2 = num * num1
print(num2)

100100

In [1]:
number = 10
Number = 20

print(Number)

20

In [ ]:
Integer_Number = 100
# Rules for Variable Definition
''' 
1. Special characters are not allowed at the prefix of variable.
Example: 123Num : Not Allowed X
2. The Variable Definition should not contain any special character or space
Example: Primary Number : Not Allowed X

'''

In [5]:
# print Function:

print('Hii')
print(100+200)

Hii
300

In [18]:
# Example: Simple Calculator

''' 
Logic:

Step1: Ask user to enter the two values
Step2: Perform Mathmatical Operation
Step3: Print the Output
'''
num1 = float(input('Enter the First Value: '))   # Type casted to float
num2 = float(input('Enter the Second Value: '))  # Type casted to float

num3 = num1 + num2

print('The Output of Two Mathmatical Number Operation ',num3)
print(f'The Output of Two Mathmatical Number Operation {num3}')  # f-string method
print(f'The Output of Two Mathmatical Number Operation {num3}'.format(num3))

print(f'The output of Two Numbers {num1} and {num2} is {num3}')

The Output of Two Mathmatical Number Operation  300.0
The Output of Two Mathmatical Number Operation 300.0
The Output of Two Mathmatical Number Operation 300.0
The output of Two Numbers 100.0 and 200.0 is 300.0

In [ ]:
# Operators in Python Programming
''' 
1. Addition (+)
2. Substraction (-)
3. Multiplication (*)
4. Division (/ or //)
5. Modulo (%)
'''

In [24]:
12 + 23, 40-20, 20*2,40/2,40//2,40%2

(35, 20, 40, 20.0, 20, 0)

In [43]:
# Concept of Indexing and Slicing 

str = 'Hello Welcome to the World of Python Programming.'

''' 
Note:
string indexing : string[start:stop:step]
'''
#ello Welc
print(str[1:20:1])

ello Welcome to the

In [41]:
str = 'Tathagat'
print(str[::-1])

tagahtaT