In [1]:
# Single Line Comment 
# Data Types in Python Programming
''' 
1. Int 
2. Float
3. Complex
4. String
5. Boolean
6. list
7. tuple
8. set
9. dict
10. class : Custom Datatype
'''

number = 100
number1 = 23.456
number2 = 2 + 3j


print(type(number))  # This will gives the Datatype of number
print(type(number1))
print(type(number2))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
# Variable Definition

x = 10  # Single Variable Assignment 
x,y = 1000,2000   
x,y,z,_ = 1,2,3,4  # Multiple Variable Assignment
_,a,b,c = 10,20,30,40

In [3]:
num = '100'  # String

num1 = 2

num2 = num * num1
print(num2)

100100

In [4]:
number = 10
Number = 20

print(Number)

20

In [5]:
Integer_Number = 100
# Rules for Variable Definition
''' 
1. Special characters are not allowed at the prefix of variable.
Example: 123Num : Not Allowed X
2. The Variable Definition should not contain any special character or space
Example: Primary Number : Not Allowed X
3. _num = 100

'''
_num = 100

In [6]:
# print Function:

print('Hii')
print(100+200)

Hii
300

In [7]:
# Example: Simple Calculator

''' 
Logic:

Step1: Ask user to enter the two values
Step2: Perform Mathmatical Operation
Step3: Print the Output
'''
num1 = float(input('Enter the First Value: '))   # Type casted to float
num2 = float(input('Enter the Second Value: '))  # Type casted to float

num3 = num1 + num2

print('The Output of Two Mathmatical Number Operation ',num3)
print(f'The Output of Two Mathmatical Number Operation {num3}')  # f-string method
print(f'The Output of Two Mathmatical Number Operation {num3}'.format(num3))

print(f'The output of Two Numbers {num1} and {num2} is {num3}')

The Output of Two Mathmatical Number Operation  300.0
The Output of Two Mathmatical Number Operation 300.0
The Output of Two Mathmatical Number Operation 300.0
The output of Two Numbers 100.0 and 200.0 is 300.0

In [8]:
# Operators in Python Programming
''' 
1. Addition (+)
2. Substraction (-)
3. Multiplication (*)
4. Division (/ or //)
5. Modulo (%)
'''

' \n1. Addition (+)\n2. Substraction (-)\n3. Multiplication (*)\n4. Division (/ or //)\n5. Modulo (%)\n'

In [9]:
12 + 23, 40-20, 20*2,40/2,40//2,40%2

(35, 20, 40, 20.0, 20, 0)

In [10]:
# Concept of Indexing and Slicing 

str = 'Hello Welcome to the World of Python Programming.'

''' 
Note:
string indexing : string[start:stop:step]
'''
#ello Welc
print(str[::])

Hello Welcome to the World of Python Programming.

In [11]:
str = 'INDIA IS A Great Country'
print(str[3:-2:2])

I SAGetCut

In [12]:
# If Else statement

if True:
    print("I am True")
    
if False:
    print("I am False")

I am True

In [13]:
''' 
Logic:

if <Condition>:
   print("Output1")
else: 
   print("Output2")

'''

num = 100 

if num > 100:
    print('The Number is Satisfy criteria')
else:
    print('Not Satisfy the criteria')

Not Satisfy the criteria

In [14]:
# Guessing the Number Game 
''' 
Logic:
Step1: Enter the Number 
Step2: Write Logic Code to Guess the Correct Number
Step3: Output  
'''
number = float(input('Enter the Number Between 1 to 3:' ))

if number == 1:
    print('The Number is 1')
if number == 2:
    print('The Number is 2')
if number == 3:
    print('The Number is 3')

In [15]:
number  = float(input())
if number > 2: 
    print('The Enter number is Higher Value')
if number < 2:
    print('The Number is Lower Value')
else:
    print('The number is 2')

The number is 2

In [16]:
if True:
    if True:
        if True:
            print('Very Good')

Very Good

In [17]:
# Example: To Check whether the given string is Palindrom or Not
''' 
Step1: Ask user to enter the string
step2: Reverse the string 
step3: Use if else logic to print the output
'''
text1 = input('Enter the string: ')   # Assignment Operator
text2 = text1[::-1]

if text1 == text2:     # This is Comparison Operator
    print('The given string is Palindrom')
else:
    print('Not a Palindrom')

The given string is Palindrom

In [18]:
8//5
5**2
25**0.5

5.0

In [19]:
# Example: Write a Program to Print Volume of Cylinder
'''
Volume = Area * Height
Step1: Ask user to enter the Diameter of Cylinder
step2: Ask user to enter the Height of cylinder
step3: Volume = Area * height  
step4: print the desired output
'''
PI = 3.1421
Diameter = float(input("Enter the Diameter of Cylinder: "))
Height = float(input("Enter the Height of Cylinder: "))

Volume = (PI/4)*(Diameter**2)* Height

print(f'The Volume of Cylinder is {Volume} mm^3')

The Volume of Cylinder is 9.426300000000001 mm^3

In [20]:
# Example:
''' 
step1: Ask user to enter the Marks
step2: Logic: 
       Marks > 90: Execellent
       90<Marks>60 : Bright
       Marks less than 60: Moderate 
step3: print the output
'''
Marks = float(input("Enter the Marks: "))

if Marks>=90:
    print('Excellent')
elif Marks < 90 and Marks > 60:
    print("Bright")
else:
    print("Average")

Average

In [21]:
# For loop
# range(start,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [23]:
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [25]:
for i in range(0,10):
    print(i)
    if i == 6:
        break

0
1
2
3
4
5
6

In [26]:
for i in range(0,10):
    print(i)
    if i == 6:
        continue

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(0,10):
    print(i)
    if i == 6:
        pass

0
1
2
3
4
5
6
7
8
9

In [28]:
# Define function : test

def test():   # Defining a function: test
    pass

test()        # Calling a function : test

In [29]:
# Example:
# Palindrom function definition
def Palindrom():
    text1 = input('Enter the string: ')
    text2 = text1[::-1]

    if text1 == text2:
        print("The given string is a Palindrom")
    else:
        print("The given is not a Palindrom")
        
Palindrom()  # Function Calling

The given is not a Palindrom

In [30]:
# Example
# Definining a function: Compute
def Compute(num1,num2):
    num3 = num1 + num2 
    return num3

ans = Compute(100,200)  # Function Calling

print(f'The Answer is {ans}')

The Answer is 300

In [31]:
# Data Structures of Python Programming
''' 
1. List
2. Tuple
3. Dictionary
4. Sets
'''

# List

a = [1,2,3,100.2000,3.1421,3+4j,'Hello World',True,[1,2,3]]
a.append(100)
print(a)
a.insert(0,0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

In [32]:
a.pop()
print(a)

[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [33]:
a.remove(0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [ ]:
''' 
Any function defined inside a class called as Method
Example: In a List a = [100,200,300]
a.append(400)
Here, append() is function, but this function is defined inside a class list so it is called Method
'''

print(a.count(1))
print(type(a))

2
<class 'list'>

In [38]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [39]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [40]:
lst = [100,200,300]
print(lst[2])

300

In [48]:
lst = [100,200,[3000],400]
print(lst[2][0])

3000

In [57]:
lst = [1,[2,3,4,5,[6,7,[10,[1000],110,],200,300],10],1]
print(lst[1][3])
print(lst[1][4][2][1][0])

5
1000

In [69]:
print(lst[-2][-2][-1])
print(lst[1][4][4])

300
300

In [78]:
lst = [100,200,300,[1,2,[3,4,5,[6],[7],[8,[9],1],1],1],1]
print(lst[3][2][5][0])
# 4,5,[6],[7]
print(lst[3][2][1:5])
print(lst[-2][-2][-2][-3])

8
[4, 5, [6], [7]]
8

In [79]:
# Tuple

b = (100,200,3.1421,True,False,'Hello World',(1,2,3,4))
b.count(100)

1

In [80]:
b.index(200)

1

In [88]:
# Example
lst = [10,21,30,41,51]
even = []
odd = []

for i in lst:
    if i%2 == 0:  
        even.append(i)
    else:
        odd.append(i)
print('even numbers',even)
print('odd numbers',odd)

even numbers [10, 30]
odd numbers [21, 41, 51]

In [5]:
tup = (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [8]:
# Example

tup = (10,20,30,40)
print(type(tup))

# Typecast
tup = list(tup)

print(type(tup))

tup.append(50)

print(tup)

<class 'tuple'>
<class 'list'>
[10, 20, 30, 40, 50]

In [ ]:
# Dictionary

# dict = {'Key1':value}

d = {'1':10}  # 1: Key and 10 : Value 
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [20]:
d = {'India':1000,'USA':2000,'UK':3000}
print(d['India'])

1000

In [23]:
d = {'India':[1000,2000,3000,4000],'USA':2000,'UK':3000}
print(d['India'][1])

2000

In [26]:
d = {'India':[1,2,3,[4,[5]]],'USA':[100,200,300]}
print(d['India'][3][1][0])

5

In [27]:
# Example: Type cast 'd' to Dictionary
d = [('USA',1000),('India',2000)]
d = dict(d)
d

{'USA': 1000, 'India': 2000}

In [35]:
d['UK'] = 3000

In [ ]:
del d['UK']   # del is a keyword used for delete the entry

In [38]:
d

{'USA': 1000, 'India': 2000}

In [ ]:
# Set

d = {1,2,3,4}
print(type(d))

d = {10,10,20,30,40}
print(d)

<class 'set'>
{40, 10, 20, 30}

In [47]:
a = {10,20,30}
b = {40,50,60}

print(a|b)

{50, 20, 40, 10, 60, 30}

In [53]:
# String

str = 'Hello Welcome to the World of Python Programming'

print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.isalnum())
print(str.isalpha())
print(str.islower())

HELLO WELCOME TO THE WORLD OF PYTHON PROGRAMMING
hello welcome to the world of python programming
Hello welcome to the world of python programming
False
False
False

In [54]:
str = 'Hello'

str1 = 'World'

print(str + ' '+str1)

Hello World

In [59]:
# Example
str = ['Hello', 'World','of','Python','Programming']

bucket1 = []
bucket2 = []

for i in str:
    if len(i) > 4:
        bucket1.append(i.lower())
    else :
        bucket2.append(i.upper())

print('Bucket1:',bucket1)
print('Bucket2:',bucket2)

Bucket1: ['hello', 'world', 'python', 'programming']
Bucket2: ['OF']

In [60]:
# Example
# Output: 2 4 6 8 10 .....20

num = 2

for i in range(1,11):
    print(num*i,end = ' ')

2 4 6 8 10 12 14 16 18 20

In [69]:
num = []

def square():
    for i in range(1,21):
        if i%2 == 0:
            num.append(i)
    return num

num = square()
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]